#header {
    background: #ed1c24;
    padding: 10px 0;
}

#logo img {
    width: 190px;
    max-width: 100%;
}

.left-header, .right-header {
    padding: 0 15px;
}

.left-header {
    width: 230px;
}

.right-header {
    width: calc(100% - 230px);
}

.main-search {
    position: relative;
}

    .main-search input[type="text"] {
        padding: 5px 40px 5px 15px;
        height: 40px;
        border: 1px solid #ccc;
        width: 100%;
    }

    .main-search button[type="submit"] {
        position: absolute;
        width: 40px;
        height: 40px;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        border: none;
        background: none;
    }

#right-list {
    font-size: 0;
    text-align: right;
}

    #right-list > li {
        display: inline-block;
        vertical-align: middle;
        padding: 0 12px;
        font-size: 15px;
        color: #fff;
    }

        #right-list > li a {
            color: #fff;
        }

            #right-list > li a:hover,
            #right-list > li .visible-cart:hover {
                text-decoration: underline;
                cursor: pointer;
            }

        #right-list > li.sign a:not(:last-child):after {
            content: "/";
            padding: 0 5px;
        }
        #right-list > li .visible-cart {
            position: relative;
        }
        #right-list > li .visible-cart svg {
            width: 20px;
            height: 20px;
            margin-top: -4px;
            margin-left: 2px;
        }
            #right-list > li .visible-cart span {
                position: absolute;
                right: 0;
                top: 6px;
                font-size: 11px;
                width: 20px;
                height: 20px;
                color: #ed1c24;
                text-align: center;
            }
        .main-banner {
            margin-top: 4px;
        }

.banner-left,
.banner-right {
    display: inline-block;
    vertical-align: top;
}

.banner-left {
    width: 225px;
}

    .banner-left > ul > li {
    }

        .banner-left > ul > li > a {
            display: block;
            padding: 7px 10px;
            position: relative;
            color: #000;
            background: #eaeaea;
        }

            .banner-left > ul > li > a svg {
                position: absolute;
                right: 5px;
                top: 0;
                bottom: 0;
                margin: auto;
            }

    .banner-left > ul ul > li > a {
        display: block;
        color: #4a4a4a;
        padding: 7px 10px;
        border-bottom: 1px dotted #ccc;
        background: #fff;
    }

    .banner-left > ul a:hover {
        color: red;
    }

.banner-right {
    width: calc(100% - 230px);
}

    .banner-right .box-slide,
    .banner-right .box-ads {
        display: inline-block;
        vertical-align: top;
    }

    .banner-right .box-slide {
        width: calc(100% - 230px);
    }

    .banner-right .box-ads {
        width: 225px;
    }
    .banner-right .box-ads img {
        width: 100%;
    }

        .banner-right .box-ads .item:not(:last-child) {
            margin-bottom: 4px;
        }

.product-cate {
    margin-top: 20px;
}

    .product-cate > span {
        font-size: 29px;
        font-weight: bold;
        color: #f44336;
    }

.wrap-cate {
    background: #fff;
    padding: 10px;
    margin-top: 5px;
}

.product-carousel .owl-item {
    padding: 10px 5px;
}

    .product-carousel .owl-item .item {
        padding: 10px;
    }

        .product-carousel .owl-item .item:hover {
            box-shadow: 0 0 5px 2px rgba(0,0,0,0.1);
        }

        .product-carousel .owl-item .item a {
            color: #000;
        }

            .product-carousel .owl-item .item a > p,
            .product-carousel .owl-item .item a .price-label {
                margin-top: 10px;
            }

.add-to-cart-listing button {
    background: rgb(237, 28, 36);
    color: #fff;
    width: 100%;
    height: 36px;
    margin-top: 15px;
    font-weight: bold;
    border: 2px solid transparent;
    transition: all .5s ease;
}

    .add-to-cart-listing button:hover {
        border-color: rgb(237, 28, 36);
        background: transparent;
        color: rgb(237, 28, 36);
    }

.product-carousel .owl-nav .owl-prev,
.product-carousel .owl-nav .owl-next {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #ddd;
    background: #fff;
    top: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
    line-height: 38px;
    font-size: 18px;
    opacity: .5;
    transition: all .5s ease;
}

    .product-carousel .owl-nav .owl-prev:hover,
    .product-carousel .owl-nav .owl-next:hover {
        opacity: 1;
    }

.product-carousel .owl-nav .owl-prev {
    left: 0;
}

.product-carousel .owl-nav .owl-next {
    right: 0;
}

#footer {
    background: #fff;
    padding: 30px 15px;
    margin-top: 10px;
}

    #footer .col-md-4 > h4 {
        text-transform: uppercase;
        padding-bottom: 10px;
        position: relative;
        font-size: 16px;
        margin-bottom: 15px;
    }

        #footer .col-md-4 > h4:before {
            position: absolute;
            content: "";
            background: #f1f1f1;
            width: 50px;
            height: 2px;
            left: 0;
            bottom: 0;
        }

    #footer .col-md-4 ul li:not(:last-child) {
        margin-bottom: 10px;
    }

    #footer .col-md-4 ul li > svg {
        width: 25px;
        display: inline-block;
        vertical-align: top;
        margin-top: 4px;
        color: rgb(11, 36, 156);
    }

    #footer .col-md-4 ul li > .content {
        width: calc(100% - 30px);
        display: inline-block;
        vertical-align: top;
    }

    #footer .col-md-4 ul li:first-child > svg {
        color: rgb(237, 28, 36);
    }
#copyright {
    background: rgb(237, 28, 36);
    padding: 10px 0;
}
    #copyright p, #copyright p a {
        color: #fff;
    }
        #copyright p a:hover {
            text-decoration: underline;
        }
        /**/
.main-wrapper {
    padding: 10px 15px;
    background: #fff;
    margin-bottom: 10px;
}
.breadcrumb {
    display: block;
    overflow: hidden;
    margin: 0 0 10px 0;
    width: 100%;
    box-sizing: border-box;
    background: none;
    padding: 0;
    border-radius: 0;
}
    .breadcrumb li {
        overflow: hidden;
        vertical-align: top;
        float: left;
        display: inline-block;
    }
        .breadcrumb li a {
            display: inline-block;
            vertical-align: top;
            white-space: nowrap;
            font-size: 12px;
            color: #008848;
            font-weight: 600;
            padding: 0 5px;
            line-height: 40px;
        }
        .breadcrumb li a {
            color: #288ad6;
            font-weight: normal;
            position: relative;
            margin-right: 10px;
            padding-right: 9px;
        }
            .breadcrumb li a:first-child {
                padding-left: 0;
            }
            .breadcrumb li a:before, .breadcrumb li a:after {
                content: '';
                width: 0;
                height: 0;
                border-top: 4px solid transparent;
                border-bottom: 4px solid transparent;
                border-left: 4px solid #979797;
                position: absolute;
                right: -4px;
                top: 16px;
            }
            .breadcrumb li a:after {
                border-left-width: 4px;
                border-left-color: #fff;
                right: -2px;
                top: 16px;
            }
        .breadcrumb li:last-child a:before, .breadcrumb li:last-child a:after {
            content: '';
            width: 0;
            height: 0;
            border-top: 4px solid transparent;
            border-bottom: 4px solid transparent;
            border-left: 4px solid transparent !important;
            position: absolute;
            right: -4px;
            top: 16px;
        }
.main-image {
    margin-bottom: 10px;
}
.main-image img {
    width: 100%;
}

.more-image .item img {
    border: 1px solid #e1e1e1;
}
.nameproduct {
    display: block;
    overflow: hidden;
    line-height: 1.3em;
    font-size: 22px;
    color: #4a4a4a;
    margin-bottom: 10px;
}
.expireddate {
    margin-bottom: 15px;
    color: #999;
}
.boxprice {
    font-size: 24px;
    color: #c10017;
    font-weight: bold;
    margin: 15px 0;
}
.choosebuy {
    display: block;
    overflow: hidden;
    background: #008848;
    font-size: 18px;
    color: #fff !important;
    text-align: center;
    text-transform: uppercase;
    padding: 16px 0 14px;
    margin-bottom: 10px;
    border-radius: 4px;
    width: 100%;
}
ul.note {
    display: block;
    overflow: hidden;
    padding: 10px 15px;
    background: #f6f8fa;
    margin: 10px 0;
}
    ul.note li {
        padding: 5px 0;
    }
ul.note li svg {
    vertical-align: middle;
    margin-right: 5px;
    margin-top: -2px;
    color: #ed1c24;
}
        ul.note li:first-child svg {
            color: rgb(11, 36, 156);
        }
.qc img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}
.textinfpro {
    display: block;
    padding: 10px 0 0;
    background: #fff;
    color: #4a4a4a;
    font-size: 20px;
}
.textinfpro#specification {
    padding: 15px 0;
}
    .textinfpro#specification::before {
        position: relative;
        content: '';
        height: 25px;
        width: 3px;
        background-color: #008848;
        top: 5px;
        display: inline-block;
        margin-right: 10px;
    }
    .textinfpro#specification-2 {
        padding-bottom: 10px;
        margin-bottom: 10px;
        position: relative;
        text-transform: uppercase;
    }

        .textinfpro#specification-2::before {
            position: absolute;
            content: '';
            height: 3px;
            width: 30px;
            background-color: #ddd;
            bottom: 0;
            display: inline-block;
            margin-right: 10px;
        }
.aside-group {
    margin-bottom: 30px;
}
    .aside-group ul li:not(:last-child) {
        border-bottom: 1px solid #f1f1f1;
    }
    .aside-group ul li a {
        display: inline-block;
        text-transform: uppercase;
        color: #000;
        font-size: 15px;
        padding: 7px 0;
    }
        .aside-group ul li a:hover {
            color: #ed1c24;
        }
    .infoproduct {
        display: block;
        overflow: hidden;
        background: #fff;
        margin-bottom: 15px;
    }
    .infoproduct.nospeci {
        padding-bottom: 0;
    }
    .infoproduct li {
        display: block;
        overflow: hidden;
        background: #fff;
        border-bottom: 1px solid #ecf0f1;
        padding: 10px 5px;
    }
        .infoproduct li span {
            display: inline-block;
            vertical-align: top;
            overflow: hidden;
            font-size: 13px;
            color: #999;
            width: 18%;
        }
        .infoproduct li div {
            display: inline-block;
            vertical-align: top;
            font-size: 13px;
            color: #4a4a4a;
            width: 80%;
        }
#boxcomment .cmtinfo {
    margin-top: 10px;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ddd;
}
#boxcomment .cmtinfo > textarea {
    height: 100px;
    border-radius: 3px;
    padding: 7px 10px;
    width: 100%;
    resize: none;
    border-color: #ddd;
    margin-bottom: 10px;
}
    #boxcomment .cmtinfo .input-item {
        margin-bottom: 15px;
    }
    #boxcomment .cmtinfo input[type="text"],
    #boxcomment .cmtinfo input[type="email"] {
        height: 48px;
        border: 1px solid #ddd;
        border-radius: 3px;
        padding: 7px 10px;
        width: 100%;
    }
#boxcomment .info button {
    margin-right: 0;
    height: 48px;
    line-height: 48px;
    color: #fff;
    border-radius: 3px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    background: #008945;
    float: right;
    box-shadow: 0 2px 2px rgba(0,0,0,.25);
    width: 100%;
}
.upimage {
    color: #288ad6;
    font-size: 16px;
}
.upimage svg {
    width: 30px;
    height: 30px;
    margin-right: 5px;
    margin-top: -3px;
}
#lbUpNotTitleCmt:hover {
    text-decoration: underline;
    cursor: pointer;
}
.gender label {
    margin-right: 15px;
}
.gender label input[type="radio"] {
    vertical-align: middle;
    margin: -2px 3px 0 0;
}
.comment-list > div > * {
    display: block;
    margin-bottom: 3px;
}
.comment-list > div > div {
    display: block;
    line-height: 1.4;
    position: relative;
}
    .comment-list > div > div > a {
        color: #588bcd;
        display: inline-block;
    }
.com-dot {
    color: #bab8b8;
}
.comment-time {
    color: #a4a4a4;
}
.comment-list div.cmt-child {
    background: #f8f8f8;
    border-radius: 5px;
    padding: 13px 15px 10px;
    margin: 5px 0 10px;
}

.comment-list div.cmt-child::before, .comment-list div.cmt-child::after {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    top: -9px;
    left: 28px;
    border-bottom: 10px solid #f8f8f8;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}
.comment-list div.cmt-child::before, .comment-list div.cmt-child::after {
    left: 18px;
}

.comment-list > div > div {
    display: block;
    line-height: 1.4;
    position: relative;
}
.comment-list div.cmt-child div.child:last-child {
    border-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}
.quantrivien {
    border-radius: 5px;
    padding: 2px 10px;
    border: 1px solid #008848;
    font-size: 13px;
    color: #008848;
    font-weight: normal;
    display: inline-block;
    font-style: normal;
    margin-left: 5px;
    background: #f8f8f8;
}
.comment-list > div.cmt-child > div.child > div {
    padding: 5px 0;
    position: relative;
}
.wrap-share {
    padding: 5px 0 15px;
}
.wrap-share span {
    font-weight: bold;
    margin-right: 5px;
}
.news-aside__cate .item {
    font-size: 0;
    padding: 10px 0;
}
.news-aside__cate .item:not(:last-child) {
    border-bottom: 1px solid #ddd;
}
.news-aside__cate .item .img,
.news-aside__cate .item .content {
    display: inline-block;
    vertical-align: top;
    font-size: 13px;
}
.news-aside__cate .item .img {
    width: 80px;
}
    .news-aside__cate .item .content {
        width: calc(100% - 80px);
        padding-left: 5px;
    }
        .news-aside__cate .item .content > a {
            color: #000;
            font-weight: bold;
        }
        .news-aside__cate .item .content > a:hover {
            text-decoration: underline;
        }
    .news-aside__cate .item .content p.date{
        font-size: 12px;
        margin-top: 5px;
    }
        .news-aside__cate .item .content p.date,
        .news-aside__cate .item .content p.view {
            color: #008848;
        }
        .news-aside__cate .item .content p.price {
            font-size: 15px;
            margin-top: 10px;
        }

            .news-aside__cate .item .content p.price del {
                margin-right: 5px;
            }

            .news-aside__cate .item .content p.price span {
                font-weight: bold;
            }
.related-cate .item img {
    width: 100%;
    margin-bottom: 10px;
}
.related-cate .item a {
    color: #000;
}
        .related-cate .item > a:hover > b {
            color: red;
        }
.related-cate .item p.date {
    font-size: 12px;
    margin: 7px 0;
    font-style: italic;
}
.related-cate .item a.read-more {
    background: #288ad6;
    color: #fff;
    padding: 7px 30px;
    display: inline-block;
    margin-top: 15px;
    transition: all .5s ease;
    border: 2px solid transparent;
}
    .related-cate .item a.read-more:hover {
        background: #fff;
        color: #288ad6;
        border-color: #288ad6;
    }
.shop_table th {
    text-transform: uppercase;
    border-top: 0;
}
.shop_table td {
    vertical-align: middle;
}
.shop_table .cart_item td {
    padding-top: 15px;
    padding-bottom: 15px;
}

.shop_table td.product-thumbnail {
    min-width: 60px;
    max-width: 90px;
    width: 90px;
}
    .shop_table td.product-thumbnail img {
        max-width: 100%;
    }
.shop_table td.product-remove {
    width: 20px;
    padding: 0;
}
.shop_table a.remove {
    display: block;
    width: 24px;
    height: 24px;
    font-size: 21px;
    line-height: 19px;
    border-radius: 100%;
    color: #ccc;
    font-weight: bold;
    text-align: center;
    border: 2px solid #ccc;
}
.shop_table a.remove:hover {
    color: red;
    border-color: red;
    cursor: pointer;
}
.shop_table td.product-name {
    word-break: break-word;
    text-overflow: ellipsis;
}
.shop_table td.product-name a {
    color: #000;
}
    .shop_table td.product-name a:hover {
        color: red;
    }
.shop_table span.amount {
    white-space: nowrap;
    color: #111;
    font-weight: bold;
}

.quantity {
    position: relative;
    width: 70px;
    font-size: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

    .quantity input:focus {
        outline: 0;
    }
.quantity-button {
    position: relative;
    cursor: pointer;
    border-left: 1px solid #eee;
    width: 20px;
    text-align: center;
    color: #333;
    font-size: 12px;
    line-height: 36px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

    .quantity-button.quantity-up,
    .quantity-button.quantity-down {
        height: 38px;
        border: 1px solid #eee;
        width: 20px;
        background: #fff;
        display: inline-block;
        vertical-align: top;
        background: #fafafa;
    }

    .quantity-button.quantity-up {
        margin-left: -1px;
    }
    .quantity-button.quantity-down {
        margin-right: -1px;
    }

.quantity input {
    width: 30px;
    height: 38px;
    padding: 5px;
    border: 1px solid #eee;
    text-align: center;
    color: #000;
    font-weight: 500;
    font-size: 15px;
}
.cart-collaterals {
    border-left: 1px solid #ececec;
}
.shop_table.no-padding th,
.shop_table.no-padding td {
    padding: .75rem 0;
}
.shop_table.has-border-bottom {
    border-bottom: 3px solid #ececec;
}
.cart_totals tbody th {
    font-size: .9em;
    text-transform: inherit;
    letter-spacing: 0;
    font-weight: normal;
}
.cart_totals tr td:last-child {
    text-align: right;
}
.cart_totals .wc-proceed-to-checkout {
    margin: 1.5em 0;
}
.cart_totals .button {
    min-width: 100%;
    margin-right: 0;
    display: block;
    background-color: #c10960;
    color: #fff;
    padding: 10px 30px;
    text-align: center;
}
    .cart_totals .button.button-inline {
        min-width: unset;
        display: inline-block;
        text-transform: uppercase;
    }
.cart-row {
    margin: 0 -30px;
}
    .cart-row > [class*="col-"] {
        padding: 0 30px;
    }
.title-checkout {
    color: #c10960;
    font-size: 24px;
    overflow: hidden;
    padding-top: 10px;
    font-weight: bolder;
    text-transform: uppercase;
    margin-bottom: 15px;
    display:block;
}
.checkout-wrap .form-group label:not(.register) {
    font-weight: bold;
    margin-bottom: 5px;
}
.checkout-wrap .form-group .form-control {
    border-radius: 1px;
}
.checkout-wrap .form-group input[type="checkbox"] {
    position: relative;
    top: 2px;
}
.checkout-wrap .form-group textarea.form-control {
    height: 100px;
    resize: none;
}
@media screen and (min-width: 850px) {
    .col + .col .col-inner {
        margin-right: auto;
        margin-left: 0;
    }
}
.col-inner {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
}
.has-border {
    border: 2px solid #c10960;
    padding: 15px 30px 30px;
}
.payment-method .item:not(:last-child) {
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
}
.payment-method .item:not(:first-child) .method-content {
    display: none;
}
.payment-method .item .method-head{
    font-weight:bold;
}
.payment-method .item .method-head input[type="radio"] {
    position: relative;
    top: 2px;
}
.news-grid-item {
    border-radius: 10px;
    box-shadow: 0 0 10px 1px rgba(0,0,0,0.2);
    padding: 15px;
    margin-bottom: 30px;
}
.news-grid-item img {
    width: 100%;
    margin-bottom: 10px;
}
    .news-grid-item a {
        line-height: 20px;
        margin: 8px 0;
        font-size: 17.5px;
        font-weight: 500;
        color:#000;
    }
    .news-grid-item p.date {
        color: #666;
        font-size: 12px;
        margin: 5px 0;
    }
    .news-grid-item .des {
        margin: 8px 0;
    }

.product-grid-item {
    margin-bottom: 30px;
    text-align: center;
}
    .product-grid-item img {
        width: 100%;
        margin-bottom: 10px;
    }
    .product-grid-item a {
        text-transform: uppercase;
        margin: 8px 0;
        font-size: 17.5px;
        color: #000;
    }
    .product-grid-item p.price {
        font-size: 15px;
    }
    .product-grid-item p.price del {
        margin-right: 5px;
    }
    .product-grid-item p.price span {
        font-weight: bold;
    }
    /**/
#hero__categories__all {
    background: #ed1c24;
    color: #fff;
    text-transform: uppercase;
    padding: 10px 10px 5px;
    margin: 0 0 2px;
    font-size: 16px;
    font-weight: bold;
    position: relative;
    cursor: pointer;
    display: none;
}
    #hero__categories__all > i {
        position: absolute;
        width: 15px;
        height: 15px;
        right: 5px;
        top: 0;
        bottom: 0;
        margin: auto;
        line-height: 15px;
    }
    #hero__categories__all svg {
        width: 30px;
        height: 30px;
        position: relative;
        top: -1px;
    }
#contact-f {
    position: fixed;
    right: 10px;
    bottom: 50px;
    width: 56px;
    height: 56px;
    background: rgb(237, 28, 36);
    border-radius: 50%;
    line-height: 56px;
    text-align: center;
    box-shadow: 1px 2px 5px -1px rgba(0,0,0,0.5);
    cursor: pointer;
    z-index: 99999;
}
#contact-f > svg {
    fill: #fff;
    width: 25px;
    height: 25px;
}
    #contact-f .contact-list {
        position: absolute;
        bottom: 100%;
        width: 44px;
        left: 0;
        right: 0;
        margin: auto;
        height: 0;
        overflow: hidden;
        transition: all .5s ease;
    }
    #contact-f .contact-list.active {
        height: auto;
    }
        #contact-f .contact-list .contact-button {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            line-height: 40px;
            margin-bottom: 5px;
            box-shadow: 1px 2px 5px -1px rgba(0,0,0,0.5);
        }
        #contact-f .contact-list .contact-button a {
            color: #fff;
            font-size: 18px;
        }
        #contact-f .contact-list .contact-button.contact-facebook {
            background: #013a94;
        }
            #contact-f .contact-list .contact-button.contact-youtube {
                background: #ed1c24;
            }
            #contact-f .contact-list .contact-button.contact-phone {
                background: #008848;
            }
.search-mobile {
    display: none;
}


@media screen and (max-width: 1199px) {
    #right-list > li.hotline {
        display: none;
    }
}
@media screen and (max-width: 1199px) and (min-width: 992px) {
        .banner-right .box-slide {
        width: calc(100% - 183px);
    }
    .banner-right .box-ads {
        width: 179px;
    }
    .banner-left {
        height: 369px;
        overflow-y: auto;
    }
}
@media screen and (max-width: 992px) {
    .right-header .main-search {
        display: none;
    }
        .main-search.search-mobile {
            display: block;
            margin: 4px 0;
        }
    #right-list > li {
        padding: 0;
    }
        #right-list > li.cart {
            position: fixed;
            bottom: 10px;
            left: 10px;
            background: #c70505;
            padding: 10px;
            z-index: 9999;
            border-radius: 5px;
            font-size: 0;
        }
        #right-list > li .visible-cart svg {
            width: 40px;
            height: 40px;
            margin-top: 0;
            margin-left: 0;
        }
        #right-list > li .visible-cart span {
            font-size: 24px;
            width: 40px;
            height: 40px;
        }
        .banner-left {
            width: 100%;
            margin-bottom: 2px;
        }
        .banner-left > ul {
            display: none;
        }
        #hero__categories__all {
            display: block;
        }
    .banner-right {
        width: 100%;
    }
        .banner-right .box-slide {
            width: calc(74.5% - 4px);
        }

        .banner-right .box-ads {
            width: 25.5%;
        }

    .cart-wrapper .shop_table {
        width: 690px;
    }
}
@media screen and (max-width: 640px) {
    .banner-right .box-slide, .banner-right .box-ads {
        width: 100%;
        margin-bottom: 2px;
    }
        .banner-right .box-ads {
            font-size: 0;
        }
        .banner-right .box-ads .item {
            width: 50%;
            display: inline-block;
            vertical-align: top;
        }
            .banner-right .box-ads .item:first-child {
                padding-right: 1px;
            }
            .banner-right .box-ads .item:last-child {
                padding-left: 1px;
            }
    .product-cate > span {
        font-size: 24px;
    }
}
@media screen and (max-width: 420px) {
    .left-header {
        width: 140px;
    }
    .right-header {
        width: calc(100% - 140px);
    }
}