<div class="container">
    <div class="main-wrapper">
        <ul class="breadcrumb">
            <li><a href="/" title="Trang chủ">Trang chủ</a></li>
            <li><a href="#">Thể thao </a></li>
            <li><a href="#">Bóng đá</a></li>
        </ul>
        <div class="row">
            <div class="col-md-9">
                <h1 class="textinfpro">Bầu Đức chuyển nhượng miễn phí quán cà phê Ông Bầu sang nhất cho 'đám nhỏ' HAGL</h1>
                <div class="wrap-share text-right">
                    <span>Share:</span>
                    <a href="#"><img src="~/assets/images/ico-zalo.png" /></a>
                    <a href="#"><img src="~/assets/images/ico-fb.png" /></a>
                </div>
                <div class="wrap-content">
                    <p>
                        <strong>
                            Từng gây sốc khi cấm cầu thủ U.19 Việt Nam 2014 nhận hoặc đòi tiền thưởng, nay bầu Đức đã chuyển nhượng cho 6 cầu thủ HAGL quán cà phê Ông Bầu sang nhất với giá 0 đồng.
                        </strong>
                    </p>
                    <img src="https://via.placeholder.com/500x500" alt="" />
                    <p>Bầu Đức</p>
                </div>
            </div>
            <div class="col-md-3">
                <strong class="textinfpro" id="specification" style="padding-top: 0;">Tin đọc nhiều</strong>
                <div class="news-aside__cate">
                    <div class="item">
                        <div class="img">
                            <a href="#">
                                <img src="https://via.placeholder.com/80x80" alt="" />
                            </a>
                        </div>
                        <div class="content">
                            <a href="#">Quy hoạch xã Trung An - Vườn trái cây phát triển...</a>
                            <p class="date"><i>07-11-2020</i></p>
                            <p class="view"><i>97 Lượt xem</i></p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="img">
                            <a href="#">
                                <img src="https://via.placeholder.com/80x80" alt="" />
                            </a>
                        </div>
                        <div class="content">
                            <a href="#">Quy hoạch xã Trung An - Vườn trái cây phát triển...</a>
                            <p class="date"><i>07-11-2020</i></p>
                            <p class="view"><i>97 Lượt xem</i></p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="img">
                            <a href="#">
                                <img src="https://via.placeholder.com/80x80" alt="" />
                            </a>
                        </div>
                        <div class="content">
                            <a href="#">Quy hoạch xã Trung An - Vườn trái cây phát triển...</a>
                            <p class="date"><i>07-11-2020</i></p>
                            <p class="view"><i>97 Lượt xem</i></p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="img">
                            <a href="#">
                                <img src="https://via.placeholder.com/80x80" alt="" />
                            </a>
                        </div>
                        <div class="content">
                            <a href="#">Quy hoạch xã Trung An - Vườn trái cây phát triển...</a>
                            <p class="date"><i>07-11-2020</i></p>
                            <p class="view"><i>97 Lượt xem</i></p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="img">
                            <a href="#">
                                <img src="https://via.placeholder.com/80x80" alt="" />
                            </a>
                        </div>
                        <div class="content">
                            <a href="#">Quy hoạch xã Trung An - Vườn trái cây phát triển...</a>
                            <p class="date"><i>07-11-2020</i></p>
                            <p class="view"><i>97 Lượt xem</i></p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="img">
                            <a href="#">
                                <img src="https://via.placeholder.com/80x80" alt="" />
                            </a>
                        </div>
                        <div class="content">
                            <a href="#">Quy hoạch xã Trung An - Vườn trái cây phát triển...</a>
                            <p class="date"><i>07-11-2020</i></p>
                            <p class="view"><i>97 Lượt xem</i></p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="img">
                            <a href="#">
                                <img src="https://via.placeholder.com/80x80" alt="" />
                            </a>
                        </div>
                        <div class="content">
                            <a href="#">Quy hoạch xã Trung An - Vườn trái cây phát triển...</a>
                            <p class="date"><i>07-11-2020</i></p>
                            <p class="view"><i>97 Lượt xem</i></p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="img">
                            <a href="#">
                                <img src="https://via.placeholder.com/80x80" alt="" />
                            </a>
                        </div>
                        <div class="content">
                            <a href="#">Quy hoạch xã Trung An - Vườn trái cây phát triển...</a>
                            <p class="date"><i>07-11-2020</i></p>
                            <p class="view"><i>97 Lượt xem</i></p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="img">
                            <a href="#">
                                <img src="https://via.placeholder.com/80x80" alt="" />
                            </a>
                        </div>
                        <div class="content">
                            <a href="#">Quy hoạch xã Trung An - Vườn trái cây phát triển...</a>
                            <p class="date"><i>07-11-2020</i></p>
                            <p class="view"><i>97 Lượt xem</i></p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="img">
                            <a href="#">
                                <img src="https://via.placeholder.com/80x80" alt="" />
                            </a>
                        </div>
                        <div class="content">
                            <a href="#">Quy hoạch xã Trung An - Vườn trái cây phát triển...</a>
                            <p class="date"><i>07-11-2020</i></p>
                            <p class="view"><i>97 Lượt xem</i></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-wrapper">
            <strong class="textinfpro" id="specification">Tin liên quan</strong>
            <div class="related-cate">
                <div class="item">
                    <a href="#">
                        <img src="https://via.placeholder.com/215x150" alt="" />
                        <b>Quy hoạch xã Phú Trung - khu cửa ngõ Tây Bắc Củ Chi với trung tâm thành phố</b>
                        <p class="date">29-09-2020</p>
                        <div>
                            Nội dung
                        </div>
                    </a>
                    <a href="#" class="read-more">Xem thêm</a>
                </div>
                <div class="item">
                    <a href="#">
                        <img src="https://via.placeholder.com/215x150" alt="" />
                        <b>Quy hoạch xã Phú Trung - khu cửa ngõ Tây Bắc Củ Chi với trung tâm thành phố</b>
                        <p class="date">29-09-2020</p>
                        <div>
                            Nội dung
                        </div>
                    </a>
                    <a href="#" class="read-more">Xem thêm</a>
                </div>
                <div class="item">
                    <a href="#">
                        <img src="https://via.placeholder.com/215x150" alt="" />
                        <b>Quy hoạch xã Phú Trung - khu cửa ngõ Tây Bắc Củ Chi với trung tâm thành phố</b>
                        <p class="date">29-09-2020</p>
                        <div>
                            Nội dung
                        </div>
                    </a>
                    <a href="#" class="read-more">Xem thêm</a>
                </div>
                <div class="item">
                    <a href="#">
                        <img src="https://via.placeholder.com/215x150" alt="" />
                        <b>Quy hoạch xã Phú Trung - khu cửa ngõ Tây Bắc Củ Chi với trung tâm thành phố</b>
                        <p class="date">29-09-2020</p>
                        <div>
                            Nội dung
                        </div>
                    </a>
                    <a href="#" class="read-more">Xem thêm</a>
                </div>
                <div class="item">
                    <a href="#">
                        <img src="https://via.placeholder.com/215x150" alt="" />
                        <b>Quy hoạch xã Phú Trung - khu cửa ngõ Tây Bắc Củ Chi với trung tâm thành phố</b>
                        <p class="date">29-09-2020</p>
                        <div>
                            Nội dung
                        </div>
                    </a>
                    <a href="#" class="read-more">Xem thêm</a>
                </div>
            </div>
        </div>
    </div>
</div>
