<div class="container">
    <div class="main-wrapper">
        <div class="row checkout-wrap">
            <div class="col-lg-7">
                <strong class="title-checkout">Thông tin thanh toán</strong>
                <div class="form-group">
                    <label>Họ và tên *</label>
                    <input type="text" name="name" value="" class="form-control" placeholder="Nhập đầy đủ họ tên" />
                </div>
                <div class="form-group">
                    <label>Số điện thoại *</label>
                    <input type="text" name="name" value="" class="form-control" placeholder="" />
                </div>
                <div class="form-group">
                    <label>Địa chỉ email *</label>
                    <input type="text" name="name" value="" class="form-control" placeholder="" />
                </div>
                <div class="form-group">
                    <label>Tỉnh/thành phố *</label>
                    <select class="form-control">
                        <option value="value">Hà Nội</option>
                        <option value="value">Hà Nội 1</option>
                        <option value="value">Hà Nội 2</option>
                        <option value="value">Hà Nội 3</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Quận/Huyện *</label>
                    <select class="form-control">
                        <option value="value">Hà Nội</option>
                        <option value="value">Hà Nội 1</option>
                        <option value="value">Hà Nội 2</option>
                        <option value="value">Hà Nội 3</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Xã/Phường/thị trấn *</label>
                    <select class="form-control">
                        <option value="value">Hà Nội</option>
                        <option value="value">Hà Nội 1</option>
                        <option value="value">Hà Nội 2</option>
                        <option value="value">Hà Nội 3</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Địa chỉ *</label>
                    <input type="text" name="name" value="" class="form-control" placeholder="Ví dụ: Số 20, ngõ 90" />
                </div>
                <div class="form-group">
                    <label class="register">
                        <input type="checkbox" name="name" /> Tạo tài khoản mới?
                    </label>
                </div>
                <strong class="title-checkout">Thông tin bổ sung</strong>
                <div class="form-group">
                    <label>Ghi chú đơn hàng (tùy chọn)</label>
                    <textarea class="form-control" placeholder="Ghi chú về đơn hàng, ví dụ: thời gian hay chỉ dẫn địa điểm giao hàng chi tiết hơn."></textarea>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="col-inner has-border">
                    <div class="checkout-sidebar">
                        <strong class="title-checkout">Đơn hàng của bạn</strong>
                        <div class="cart_totals">
                            <table class="shop_table no-padding table has-border-bottom">
                                <thead>
                                    <tr>
                                        <th class="product-name">Sản phẩm</th>
                                        <th class="product-name text-right">Tổng</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="cart-subtotal">
                                        <td>THỊT TRÂU GÁC BẾP | 1Kg <b>x1</b></td>
                                        <td><span class="amount">370,000<span>₫</span></span></td>
                                    </tr>
                                    <tr class="cart-subtotal">
                                        <td><b>Tạm tính</b></td>
                                        <td><span class="amount">370,000<span>₫</span></span></td>
                                    </tr>
                                    <tr class="order-total">
                                        <td><b>Tổng</b></td>
                                        <td><strong><span class="amount">370,000<span>₫</span></span></strong> </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="payment-method">
                                <div class="item">
                                    <label class="method-head active"><input type="radio" name="method" checked="checked" /> Ship & Trả tiền mặt khi nhận hàng</label>
                                    <div class="method-content wrap-content">
                                        <p>THANH TOÁN KHI NHẬN HÀNG (C.O.D), đơn giản, tiện lợi! Chưa bao gồm phí giao hàng</p>
                                        <p>
                                            + Phí Giao Hàng:
                                        </p>
                                        <p>
                                            ► HÀ NỘI: Giao hàng ngay trong nội thành, phí ship từ 20.000đ đến 30.000đ/đơn hàng (tùy khu vực)
                                        </p>
                                        <p>► Ship TOÀN QUỐC: 50.000đ/đơn hàng, bất kể số lượng. [Ngoại trừ: các sản phẩm Trâu, Bò, Cá Gác bếp = 70.000đ/kg (đường hàng không)]</p>
                                    </div>
                                </div>
                                <div class="item">
                                    <label class="method-head"><input type="radio" name="method" /> Chuyển khoản ngân hàng</label>
                                    <div class="method-content wrap-content">
                                        <p>
                                            Khi thực hiện thanh toán qua Ngân Hàng, quý anh chị vui lòng ghi rõ MÃ SỐ ĐƠN HÀNG (vui lòng xem email), hoặc số điện thoại liên lạc vào phần THÔNG TIN CHUYỂN KHOẢN để chúng tôi thuận tiện kiểm soát đơn hàng hơn. Xin chân thành cảm ơn!
                                        </p>
                                        <p>►TÀI KHOẢN</p>
                                        <p>
                                            – Ngân hàng Vietcombank: 0011001948278 – Phạm Ngọc Tân – Chi nhánh Hà Nội
                                        </p>
                                        <p>
                                            – Ngân hàng Agribank: 1508205263434 – Phạm Ngọc Tân – Chi nhánh Tam Trinh
                                        </p>
                                        <p>
                                            + PHÍ GIAO HÀNG
                                        </p>
                                        <p>
                                            ► HÀ NỘI: Giao hàng ngay trong nội thành, phí ship từ 20.000đ đến 30.000đ/đơn hàng (tùy khu vực)
                                        </p>
                                        <p>► Ship TOÀN QUỐC: 50.000đ/đơn hàng, bất kể số lượng. [Ngoại trừ: các sản phẩm Trâu, Bò, Cá Gác bếp = 70.000đ/kg (đường hàng không)]</p>
                                    </div>
                                </div>
                            </div>
                            <div class="wc-proceed-to-checkout">
                                <a href="#" class="checkout-button button button-inline">
                                    Đặt hàng
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>