<div class="container">
    <div class="main-wrapper">
        <ul class="breadcrumb">
            <li><a href="/" title="Trang chủ">Trang chủ</a></li>
            <li><a href="#">Tin tức </a></li>
        </ul>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="news-grid-item">
                    <a href="#">
                        <img src="https://via.placeholder.com/315x225" alt="" />
                    </a>
                    <div class="content">
                        <a href="#">Ăn ngon từng bữa, đủ “năng lượng” cả ngày!</a>
                        <p class="date">24-11-2020 6:20:30</p>
                        <div class="desc">
                            <p> Cơ thể khoẻ mạnh cần những bữa ăn lành mạnh, đủ chất vì vậy VinMart giới thiệu mọi người Mì Ý Sài Gòn Food để có thể yên tâm chuẩn bị các bữa ăn đảm bảo sức khỏe của bản thân và cả gia đình nhé. Chỉ </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="news-grid-item">
                    <a href="#">
                        <img src="https://via.placeholder.com/315x225" alt="" />
                    </a>
                    <div class="content">
                        <a href="#">Ăn ngon từng bữa, đủ “năng lượng” cả ngày!</a>
                        <p class="date">24-11-2020 6:20:30</p>
                        <div class="desc">
                            <p> Cơ thể khoẻ mạnh cần những bữa ăn lành mạnh, đủ chất vì vậy VinMart giới thiệu mọi người Mì Ý Sài Gòn Food để có thể yên tâm chuẩn bị các bữa ăn đảm bảo sức khỏe của bản thân và cả gia đình nhé. Chỉ </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="news-grid-item">
                    <a href="#">
                        <img src="https://via.placeholder.com/315x225" alt="" />
                    </a>
                    <div class="content">
                        <a href="#">Ăn ngon từng bữa, đủ “năng lượng” cả ngày!</a>
                        <p class="date">24-11-2020 6:20:30</p>
                        <div class="desc">
                            <p> Cơ thể khoẻ mạnh cần những bữa ăn lành mạnh, đủ chất vì vậy VinMart giới thiệu mọi người Mì Ý Sài Gòn Food để có thể yên tâm chuẩn bị các bữa ăn đảm bảo sức khỏe của bản thân và cả gia đình nhé. Chỉ </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="news-grid-item">
                    <a href="#">
                        <img src="https://via.placeholder.com/315x225" alt="" />
                    </a>
                    <div class="content">
                        <a href="#">Ăn ngon từng bữa, đủ “năng lượng” cả ngày!</a>
                        <p class="date">24-11-2020 6:20:30</p>
                        <div class="desc">
                            <p> Cơ thể khoẻ mạnh cần những bữa ăn lành mạnh, đủ chất vì vậy VinMart giới thiệu mọi người Mì Ý Sài Gòn Food để có thể yên tâm chuẩn bị các bữa ăn đảm bảo sức khỏe của bản thân và cả gia đình nhé. Chỉ </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="news-grid-item">
                    <a href="#">
                        <img src="https://via.placeholder.com/315x225" alt="" />
                    </a>
                    <div class="content">
                        <a href="#">Ăn ngon từng bữa, đủ “năng lượng” cả ngày!</a>
                        <p class="date">24-11-2020 6:20:30</p>
                        <div class="desc">
                            <p> Cơ thể khoẻ mạnh cần những bữa ăn lành mạnh, đủ chất vì vậy VinMart giới thiệu mọi người Mì Ý Sài Gòn Food để có thể yên tâm chuẩn bị các bữa ăn đảm bảo sức khỏe của bản thân và cả gia đình nhé. Chỉ </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="news-grid-item">
                    <a href="#">
                        <img src="https://via.placeholder.com/315x225" alt="" />
                    </a>
                    <div class="content">
                        <a href="#">Ăn ngon từng bữa, đủ “năng lượng” cả ngày!</a>
                        <p class="date">24-11-2020 6:20:30</p>
                        <div class="desc">
                            <p> Cơ thể khoẻ mạnh cần những bữa ăn lành mạnh, đủ chất vì vậy VinMart giới thiệu mọi người Mì Ý Sài Gòn Food để có thể yên tâm chuẩn bị các bữa ăn đảm bảo sức khỏe của bản thân và cả gia đình nhé. Chỉ </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="news-grid-item">
                    <a href="#">
                        <img src="https://via.placeholder.com/315x225" alt="" />
                    </a>
                    <div class="content">
                        <a href="#">Ăn ngon từng bữa, đủ “năng lượng” cả ngày!</a>
                        <p class="date">24-11-2020 6:20:30</p>
                        <div class="desc">
                            <p> Cơ thể khoẻ mạnh cần những bữa ăn lành mạnh, đủ chất vì vậy VinMart giới thiệu mọi người Mì Ý Sài Gòn Food để có thể yên tâm chuẩn bị các bữa ăn đảm bảo sức khỏe của bản thân và cả gia đình nhé. Chỉ </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="news-grid-item">
                    <a href="#">
                        <img src="https://via.placeholder.com/315x225" alt="" />
                    </a>
                    <div class="content">
                        <a href="#">Ăn ngon từng bữa, đủ “năng lượng” cả ngày!</a>
                        <p class="date">24-11-2020 6:20:30</p>
                        <div class="desc">
                            <p> Cơ thể khoẻ mạnh cần những bữa ăn lành mạnh, đủ chất vì vậy VinMart giới thiệu mọi người Mì Ý Sài Gòn Food để có thể yên tâm chuẩn bị các bữa ăn đảm bảo sức khỏe của bản thân và cả gia đình nhé. Chỉ </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="news-grid-item">
                    <a href="#">
                        <img src="https://via.placeholder.com/315x225" alt="" />
                    </a>
                    <div class="content">
                        <a href="#">Ăn ngon từng bữa, đủ “năng lượng” cả ngày!</a>
                        <p class="date">24-11-2020 6:20:30</p>
                        <div class="desc">
                            <p> Cơ thể khoẻ mạnh cần những bữa ăn lành mạnh, đủ chất vì vậy VinMart giới thiệu mọi người Mì Ý Sài Gòn Food để có thể yên tâm chuẩn bị các bữa ăn đảm bảo sức khỏe của bản thân và cả gia đình nhé. Chỉ </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="news-grid-item">
                    <a href="#">
                        <img src="https://via.placeholder.com/315x225" alt="" />
                    </a>
                    <div class="content">
                        <a href="#">Ăn ngon từng bữa, đủ “năng lượng” cả ngày!</a>
                        <p class="date">24-11-2020 6:20:30</p>
                        <div class="desc">
                            <p> Cơ thể khoẻ mạnh cần những bữa ăn lành mạnh, đủ chất vì vậy VinMart giới thiệu mọi người Mì Ý Sài Gòn Food để có thể yên tâm chuẩn bị các bữa ăn đảm bảo sức khỏe của bản thân và cả gia đình nhé. Chỉ </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="news-grid-item">
                    <a href="#">
                        <img src="https://via.placeholder.com/315x225" alt="" />
                    </a>
                    <div class="content">
                        <a href="#">Ăn ngon từng bữa, đủ “năng lượng” cả ngày!</a>
                        <p class="date">24-11-2020 6:20:30</p>
                        <div class="desc">
                            <p> Cơ thể khoẻ mạnh cần những bữa ăn lành mạnh, đủ chất vì vậy VinMart giới thiệu mọi người Mì Ý Sài Gòn Food để có thể yên tâm chuẩn bị các bữa ăn đảm bảo sức khỏe của bản thân và cả gia đình nhé. Chỉ </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="news-grid-item">
                    <a href="#">
                        <img src="https://via.placeholder.com/315x225" alt="" />
                    </a>
                    <div class="content">
                        <a href="#">Ăn ngon từng bữa, đủ “năng lượng” cả ngày!</a>
                        <p class="date">24-11-2020 6:20:30</p>
                        <div class="desc">
                            <p> Cơ thể khoẻ mạnh cần những bữa ăn lành mạnh, đủ chất vì vậy VinMart giới thiệu mọi người Mì Ý Sài Gòn Food để có thể yên tâm chuẩn bị các bữa ăn đảm bảo sức khỏe của bản thân và cả gia đình nhé. Chỉ </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center">
            <div class="pager">
                <a href="#" class="next fa fa-angle-double-left"></a>
                <a href="#" class="current">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
                <a href="#" class="next fa fa-angle-double-right"></a>
            </div>
        </div>
    </div>
</div>
