<div class="container">
    <div class="main-wrapper">
        <ul class="breadcrumb">
            <li><a href="/" title="Trang chủ">Trang chủ</a></li>
            <li><a href="#">Sản phẩm </a></li>
        </ul>
        <div class="row">
            <div class="col-lg-9">
                <div class="wrap-content" style="margin-bottom: 30px;">
                    <img src="https://via.placeholder.com/805x445" alt="" />
                    <p>Mô tả ngắn</p>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="product-grid-item">
                            <a href="#">
                                <img src="https://via.placeholder.com/300x170" alt="" />
                            </a>
                            <div class="content">
                                <a href="#">Cá chép gác bếp</a>
                                <p class="price"><del>740,000đ</del><span>330,000đ</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="product-grid-item">
                            <a href="#">
                                <img src="https://via.placeholder.com/300x170" alt="" />
                            </a>
                            <div class="content">
                                <a href="#">Cá chép gác bếp</a>
                                <p class="price"><del>740,000đ</del><span>330,000đ</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="product-grid-item">
                            <a href="#">
                                <img src="https://via.placeholder.com/300x170" alt="" />
                            </a>
                            <div class="content">
                                <a href="#">Cá chép gác bếp</a>
                                <p class="price"><del>740,000đ</del><span>330,000đ</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="product-grid-item">
                            <a href="#">
                                <img src="https://via.placeholder.com/300x170" alt="" />
                            </a>
                            <div class="content">
                                <a href="#">Cá chép gác bếp</a>
                                <p class="price"><del>740,000đ</del><span>330,000đ</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="product-grid-item">
                            <a href="#">
                                <img src="https://via.placeholder.com/300x170" alt="" />
                            </a>
                            <div class="content">
                                <a href="#">Cá chép gác bếp</a>
                                <p class="price"><del>740,000đ</del><span>330,000đ</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="product-grid-item">
                            <a href="#">
                                <img src="https://via.placeholder.com/300x170" alt="" />
                            </a>
                            <div class="content">
                                <a href="#">Cá chép gác bếp</a>
                                <p class="price"><del>740,000đ</del><span>330,000đ</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="product-grid-item">
                            <a href="#">
                                <img src="https://via.placeholder.com/300x170" alt="" />
                            </a>
                            <div class="content">
                                <a href="#">Cá chép gác bếp</a>
                                <p class="price"><del>740,000đ</del><span>330,000đ</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="product-grid-item">
                            <a href="#">
                                <img src="https://via.placeholder.com/300x170" alt="" />
                            </a>
                            <div class="content">
                                <a href="#">Cá chép gác bếp</a>
                                <p class="price"><del>740,000đ</del><span>330,000đ</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="product-grid-item">
                            <a href="#">
                                <img src="https://via.placeholder.com/300x170" alt="" />
                            </a>
                            <div class="content">
                                <a href="#">Cá chép gác bếp</a>
                                <p class="price"><del>740,000đ</del><span>330,000đ</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="product-grid-item">
                            <a href="#">
                                <img src="https://via.placeholder.com/300x170" alt="" />
                            </a>
                            <div class="content">
                                <a href="#">Cá chép gác bếp</a>
                                <p class="price"><del>740,000đ</del><span>330,000đ</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="product-grid-item">
                            <a href="#">
                                <img src="https://via.placeholder.com/300x170" alt="" />
                            </a>
                            <div class="content">
                                <a href="#">Cá chép gác bếp</a>
                                <p class="price"><del>740,000đ</del><span>330,000đ</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="product-grid-item">
                            <a href="#">
                                <img src="https://via.placeholder.com/300x170" alt="" />
                            </a>
                            <div class="content">
                                <a href="#">Cá chép gác bếp</a>
                                <p class="price"><del>740,000đ</del><span>330,000đ</span></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <div class="pager">
                        <a href="#" class="next fa fa-angle-double-left"></a>
                        <a href="#" class="current">1</a>
                        <a href="#">2</a>
                        <a href="#">3</a>
                        <a href="#" class="next fa fa-angle-double-right"></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="aside-group">
                    <strong class="textinfpro" id="specification-2" style="padding-top: 0;">Sản phẩm vừa xem</strong>
                    <div class="news-aside__cate">
                        <div class="item">
                            <div class="img">
                                <a href="#">
                                    <img src="https://via.placeholder.com/80x80" alt="" />
                                </a>
                            </div>
                            <div class="content">
                                <a href="#">RƯỢU ĐẢNG SÂM | Bình 3.8L</a>
                                <p class="price"><del>740,000đ</del><span>330,000đ</span></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="aside-group">
                    <strong class="textinfpro" id="specification-2" style="padding-top: 0;">Danh mục sản phẩm</strong>
                    <ul>
                        <li><a href="#">Măng rừng khô</a></li>
                        <li><a href="#">Thịt gác bếp</a></li>
                        <li><a href="#">Tam thất</a></li>
                        <li><a href="#">Gia vị Tây Bắc</a></li>
                        <li><a href="#">Mật ong Tây Bắc</a></li>
                    </ul>
                </div>
                <div class="aside-group">
                    <strong class="textinfpro" id="specification-2" style="padding-top: 0;">Sản phẩm nổi bật</strong>
                    <div class="news-aside__cate">
                        <div class="item">
                            <div class="img">
                                <a href="#">
                                    <img src="https://via.placeholder.com/80x80" alt="" />
                                </a>
                            </div>
                            <div class="content">
                                <a href="#">RƯỢU ĐẢNG SÂM | Bình 3.8L</a>
                                <p class="price"><del>740,000đ</del><span>330,000đ</span></p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="img">
                                <a href="#">
                                    <img src="https://via.placeholder.com/80x80" alt="" />
                                </a>
                            </div>
                            <div class="content">
                                <a href="#">RƯỢU ĐẢNG SÂM | Bình 3.8L</a>
                                <p class="price"><del>740,000đ</del><span>330,000đ</span></p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="img">
                                <a href="#">
                                    <img src="https://via.placeholder.com/80x80" alt="" />
                                </a>
                            </div>
                            <div class="content">
                                <a href="#">RƯỢU ĐẢNG SÂM | Bình 3.8L</a>
                                <p class="price"><del>740,000đ</del><span>330,000đ</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
