
<div class="main-banner">
    <div class="container">
        <div class="banner-left">
            <ul>
                <li>
                    <a href="#">
                        Hàng cao cấp
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
                        </svg>
                    </a>
                    <ul>
                        <li><a href="#">Tivi, Tủ lạnh, Máy giặt, Bếp</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        Điện tử
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
                        </svg>
                    </a>
                    <ul>
                        <li><a href="#">Tivi, Loa thanh, Dàn âm thanh</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        Điện lạnh
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
                        </svg>
                    </a>
                    <ul>
                        <li><a href="#">Tủ lạnh, Máy giặt, Máy lạnh</a></li>
                        <li><a href="#">Tủ đông, Tủ mát, Máy sấy</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        Gia dụng
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
                        </svg>
                    </a>
                    <ul>
                        <li><a href="#">Nồi cơm, Bếp từ - hồng ngoại</a></li>
                        <li><a href="#">Máy lọc nước, Máy nước nóng</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        Di động - tablet
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
                        </svg>
                    </a>
                    <ul>
                        <li><a href="#">Điện thoại, Tablet, Phụ kiện</a></li>
                        <li><a href="#">Điện thoại, Tablet, Phụ kiện</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="banner-right">
            <div class="box-slide owl-carousel">
                <div class="item">
                    <img src="https://via.placeholder.com/650x464" alt="" />
                </div>
                <div class="item">
                    <img src="https://via.placeholder.com/650x464" alt="" />
                </div>
                <div class="item">
                    <img src="https://via.placeholder.com/650x464" alt="" />
                </div>
                <div class="item">
                    <img src="https://via.placeholder.com/650x464" alt="" />
                </div>
                <div class="item">
                    <img src="https://via.placeholder.com/650x464" alt="" />
                </div>
            </div>
            <div class="box-ads">
                <div class="item">
                    <img src="https://via.placeholder.com/226x230" alt="" />
                </div>
                <div class="item">
                    <img src="https://via.placeholder.com/226x230" alt="" />
                </div>
            </div>
        </div>
    </div>
</div>
