@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="main-wrapper">
        <ul class="breadcrumb">
            <li><a href="/" title="Trang chủ">Trang chủ</a></li>
            <li><a href="/hai-san-dong-lanh">Thịt, hải sản, rau củ đông lạnh </a></li>
            <li><a href="/hai-san-dong-lanh-thao-tien-foods">Thịt - hải sản đông lạnh Thảo Tiên Foods</a></li>
        </ul>
    </div>
</div>

